.image-capture-container {
  max-width: 600px;
  margin: auto; 
  padding: 20px;
  text-align: center;
}

.drag-drop-container {
  border: 2px dashed #3498db;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.upload-label {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.uploaded-image {
  max-width: 50%;
  margin: 10px 0;
}

.input-container,
.button-container {
  margin-bottom: 20px;
}
.response-container{
  border: 2px dashed #3498db;
  padding: 20px;
  margin-bottom: 20px;
  text-align: justify;
  hyphens: auto;
}

/* Mobile responsiveness */
/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
  .image-capture-container {
    padding: 10px;
    max-width: none; /* Remove the max-width for full-width */
    margin: 0; /* Remove any default margin */
  }

  .drag-drop-container {
    padding: 10px;
  }

  .upload-label {
    font-size: 14px;
    padding: 8px 16px;
  }

  .uploaded-image {
    margin: 8px 0;
  }

  .input-container,
  .button-container,
  .response-container {
    margin-bottom: 10px;
  }
}
